.form {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.8rem;
  gap: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form > h3 {
  font-weight: 600;
  color: var(--highlight);
}
.form > label {
  color: var(--highlight);
}
.wrapper {
  display: flex;
  gap: 0.5rem;
}
.left,
.right {
  flex: 1;
}
.left > label,
.right > label {
  color: var(--highlight);
}
.radio > input {
  accent-color: var(--highlight);
}
.descInput {
  border: none;
  background: transparent;
  color: var(--text);
  border-bottom: 1px solid;
  width: 100%;
}
.tagInput {
  composes: descInput;
}
.submit {
  margin-top: 0.5rem;
  padding: 0.25rem;
  border: 2px solid var(--highlight);
  background: transparent;
  color: var(--highlight);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submit:hover {
  border: 2px solid var(--background);
  background: var(--highlight);
  color: var(--background);
}
.error {
  display: none;
  margin-top: 0.5rem;
  color: #ff0000;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .tagInput {
    width: 100%;
  }
  .descInput {
    width: 100%;
  }
}
