.main {
  /* display: flex;
  flex-direction: column; */
  max-width: calc(100vw - 4rem);
  min-height: calc(100vh - 2rem);
  max-height: calc(100vh - 2rem);
  background: var(--background);
  padding: 1rem 2rem;
  overflow: hidden;
}
.content {
  height: 85vh;
  margin: 1rem 2rem;
  border: 1px solid var(--accent);
  border-radius: 12px;
  overflow: scroll;
  animation: fadein 1s linear;
}
.content::-webkit-scrollbar {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 1rem 0;
    height: 75vh;
  }
}
