.tasks {
  /* overflow: hidden; */
  width: 100%;
}
.taskslist {
  flex: 1;
  border: 1px solid var(--accent);
  border-radius: 12px;
}
.table {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: left;
}
.header > tr,
.body > tr {
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid var(--accent);
  gap: 1rem;
}
.header > tr > th,
.body > tr > td {
  flex: 1;
  text-transform: capitalize;
}
.header > tr > th {
  color: var(--highlight);
}
.header > tr > th:nth-child(2),
.body > tr > td:nth-child(2) {
  flex: 3;
  display: flex;
  gap: 0.25rem;
}
.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.drawer {
  position: relative;
  border: 1px solid var(--accent);
  border-radius: 12px;
  top: 0;
  width: 0;
  left: -20%;
  transition: all 0.3s ease;
}
.content {
  width: 100%;
  margin-top: 1rem;
  display: flex;
}
.filter > li:last-child {
  margin-left: auto;
  text-align: right;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid var(--highlight);
  color: var(--highlight);
  border-radius: 8px;
  padding: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.filter > li {
  transition: opacity 0.3s ease-in-out;
}
.filter > li:hover {
  opacity: 0.6;
}
.filter > li:last-child:hover {
  opacity: 1;
  background: var(--highlight);
  color: var(--background);
}
.tag {
  background: lightgray;
  height: fit-content;
  padding: 0 0.25rem;
  border-radius: 20px;
  color: black;
  text-transform: lowercase;
}
.buttons {
  position: relative;
}
.buttons > button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.buttons > button > img {
  height: 1rem;
  filter: invert(99%) sepia(0%) saturate(2633%) hue-rotate(218deg)
    brightness(111%) contrast(96%);
}
.buttons > button:hover > img {
  filter: invert(68%) sepia(18%) saturate(6353%) hue-rotate(92deg)
    brightness(99%) contrast(73%);
}
.buttons > button:nth-child(2):hover > img {
  filter: invert(69%) sepia(99%) saturate(434%) hue-rotate(358deg)
    brightness(102%) contrast(104%);
}
.buttons > button:last-child:hover > img {
  filter: invert(14%) sepia(100%) saturate(7339%) hue-rotate(0deg)
    brightness(92%) contrast(120%);
}
.notice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addButton {
  margin-top: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid var(--highlight);
  background: transparent;
  color: var(--highlight);
  border-radius: 8px;
  padding: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addButton:hover {
  background: var(--highlight);
  color: var(--background);
}
.body > tr:hover {
  background: var(--accent);
  cursor: pointer;
}
.buttons > button:nth-child(1):hover > .updateDescription {
  opacity: 1;
  left: 0;
  color: #22c55e;
}
.buttons > button:nth-child(2):hover > .updateDescription {
  opacity: 1;
  left: 2rem;
  color: yellow;
}
.buttons > button:nth-child(3):hover > .updateDescription {
  opacity: 1;
  left: 4rem;
  color: red;
}
.updateDescription {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: -150%;
  left: -2rem;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
.mobView {
  display: none;
  width: 90%;
}
.mobList {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
}
.dropdown {
  display: inline-block;
}
.dropdownMenu {
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background: var(--accent);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.dropdown > button {
  margin: 0.5rem;
  text-transform: capitalize;
  background: none;
  color: var(--highlight);
  border: none;
  font-size: 1rem;
  padding: 0;
}
.dropdownArrow {
  height: 1rem;
  filter: invert(10%) sepia(57%) saturate(4292%) hue-rotate(246deg) brightness(88%) contrast(103%);
  margin-left: 0.5rem;
}
.dropdownMenu > li > button {
  width: 100%;
  border: none;
  background: var(--accent);
  color: var(--text);
  text-align: left;
  padding: 0.5rem;
}
.mobView {
  width: 90%;
}
.mobForm {
  width: 100%;
  border: 1px solid var(--accent);
  border-radius: 12px;
  margin-top: 0.5rem;
}
.mobNewTaskButton {
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid var(--highlight);
  background: transparent;
  color: var(--highlight);
  border-radius: 8px;
  padding: 0.25rem;
}
.loadTestDataButton {
  composes: addButton;
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .filter {
    display: none;
  }
  .drawer {
    display: none;
  }
  .taskslist {
    display: none;
  }
  .mobView {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
}
